page-list {

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  ion-list ion-icon {
    color: color($colors, primary);
  }

  ion-buttons {
    padding-left: 8px;
  }

  button {
    width: 31%;
    color: #D3D3D3;
  }

  .searchbar-wp .searchbar-input-container {
    border-color: #D3D3D3;
  }

  [padding] h2:first-child {
    margin-top: 2px;
  }

  // .searchbar-md .searchbar-input{
  //   box-shadow: none;
  //   border-width: 1px;
  //   border-color: color($colors, light);
  // }
  //
  // .searchbar-input-container {
  //   border-width: 1px;
  //   border-bottom-width: 1px;
  //   border-color: color($colors, light);
  // }
}
