page-add-location {
  p {
    font-size: 1.1em;
    color: #999999;
    padding-left: 16px;
    padding-top: 20px
  }

  ion-label, .select-text {
    margin-left: 10px;
  }

  .invalid {
    border: 1px solid #ea6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }

  ul {
  padding-left: 10px;

    &.rating li {
      padding: 5px 10px;
      background: none;
      color: color($colors, primary);

      ion-icon {
        font-size: 30px;
      }
    }
  }
}
