map {
  // #map {
  //   height: 100%;
  //   width: 100%;
  //   position: absolute;
  // }
  // html,body{margin: 0; padding: 0;}

}

// Locate control has some mapbox styling which fucks up the control with mapzen
.leaflet-control-locate {
  a {
     padding: 0px;
  }
  &.requesting {
    a {
      padding: 0px;
    }
  }
}

.easy-button-button {
  padding: 0px;
  font-size: 16px;

  .hide-markers-active {
    color: color($colors, dark);
  }

  .show-markers-active {
    color: color($colors, gray);
  }

  i {
    width: 100%;
    height: 100%
  }
}
