map-page {
  #map {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  ion-img {
    contain: none;
  }

  [icon-left] ion-icon {
    font-size: 2.0em;
  }

  toolbar-title {
    text-align: center
  }

  .footer-md::before {
    background-image: none;
  }
}
